
@import url('../styles.css');


/*body {
  font-family: sans-serif;
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  line-height: 1.6;
}
*/
a { color: #007acc; text-decoration: none; }
a:hover { text-decoration: underline; }
pre {
  background: #f4f4f4;
  padding: 0.5rem;
  overflow-x: auto;
  border-left: 3px solid #007acc;
}
